.inputName{
  height: 200px;
  width: 300px;
  border: 1px solid red;
  display: block;
}
.container{
  display: none;
}
.chatPane{
  height: 200px;
  width: 300px;
  border: 1px solid red;
  display: block;
}
.userList{
  height: 200px;
  width: 300px;
  border: 1px solid red;
}
